* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font style */
  font-style: normal;
  font-weight: 500;
}

:root {
  --primary-color: #46c7e7;
  --primary-hover: rgb(67, 201, 235);
}

html,
body {
  height: 100%;
  width: auto;
}

/* ------------------------- product submenu  -------------------------- */
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar .navbar-collapse .nav-link {
  margin-inline: 15px;
  color: black;
  transition: all 1s ;
  border-radius: 8px;
  padding: 5px;
  position: relative;
}
/* .navbar .navbar-collapse .nav-link.active */
.navbar .navbar-collapse .nav-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  bottom: 2px;
  left: 0;
  border-radius: 8px;
}
.active{ position: relative; }
.active::after{
content: '';
position: absolute;
width: 100%;
height: 3px;  
background-color: var(--primary-color);
bottom: 2px;
left: 0;
border-radius: 8px;
}
.navbar .logo {
  width: 13rem;
}

.product-main-menu {
  width: 60%;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 2;
  left: 20%;
  background-color: white;
}

.product-main-menu a {
  color: black;
  padding: 8px 0;
}

.product-main-menu .menu a:nth-child(1):hover {
  color: var(--primary-hover);
}

.product-main-menu .menu .right-arrow {
  color: var(--primary-color);
}

.product-main-menu .menu .link-hover-animation {
  background: linear-gradient(to right,
      var(--primary-hover) 0%,
      var(--primary-hover) 50%,
      transparent 50%,
      transparent 100%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease;
}

.product-main-menu .menu .link-hover-animation:hover {
  background-position: left bottom;
  /* color: white; */
}

.product-main-menu .menu .featured-section .feature-img {
  overflow: hidden;
}

.product-main-menu .menu .featured-section .feature-img img {
  transition: all 1s linear;
}

.product-main-menu .menu .featured-section .feature-img img:hover {
  transform: scale(1.1);
}

.product-main-menu .menu .details .product-details {
  display: none;
}

/*  media query of submenu */
@media (max-width: 991.98px) {
  .product-main-menu .menu .details {
    display: none;
  }
}

/* -------------------------------------------------- Index Page start --------------------------------------------------- */
/* ----------------------------- section 1 ----------------------------- */
#hero {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 100px !important;
}

.btn-custom {
  color: #fff;
  background-color: var(--primary-color);
  font-weight: 600;
}

.btn-custom:hover {
  color: #fff;
  /* background-color: var(--primary-hover); */
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
  background:  #e959a8 ;
  font-weight: 600;
}

/* .pinch-img {
  width: 100%;
  mask-image: url("../images/pinch-left-mask.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: width 0.7s cubic-bezier(0.54, 0.09, 0.2, 0.92);
}

.pinch-img:hover {
  width: 600vh;
} */

.main-img {
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 14 / 12;
}

/* ----------------------------- about numina ----------------------------- */
.about-numina {
  width: 100%;
  margin: 5% 0;
  background-color: rgb(221, 246, 252);
  /* padding: 50px; */
  border-radius: 15px;
}
.about-numina .swiper {
  width: 100%;
  height: 100%;
}
.about-numina .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.about-numina .swiper .medicine-card {
  width: 100%;
  height: 25rem;
  border: 1px solid rgb(113, 187, 206);
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}



/* ----------------------------- section 3 ----------------------------- */
#journey {
  position: relative;
  width: 100%;
  height: 100%;
}

.journey-body .swiper {
  width: 100%;
  height: 100%;
}

.journey-body .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-body .swiper-slide .slide-img {
  overflow: hidden;
  border-radius: 15px;
  margin: 10px 0;
}

.journey-body .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 16 / 12;
  transition: transform 0.5s ease-in-out;
}

.journey-body .swiper-slide img:hover {
  transform: scale(1.1);
}

/* .section3-body .swiper-slide:nth-child(1n) {
  margin-top: 50px ;
}
.section3-body .swiper-slide:nth-child(2n) {
  margin-top: 0px ;
} */
.link-dark:hover {
  text-decoration: underline !important;
}

/* ----------------------------- section 4 ----------------------------- */
#comunity {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  border-radius: 16px;
}

.comunity-head {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comunity-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the video stays behind */
}

.comunity-main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the video covers the entire background */
}

.comunity-body {
  position: relative;
  z-index: 2;
  /* Ensure swiper content is on top */
}

.comunity-body .swiper {
  width: 100%;
  height: 100%;
  padding:0 5rem 0 5rem;
}

.comunity-body .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.comunity-body .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  will-change: transform;
}

.comunity-body .swiper-slide.active-slide {
  transform: scale(1.1);
}

.comunity-body .slider-img {
  /* -webkit-mask-image: url('../images/home/twist-mask.svg'); */
  -webkit-mask-position: -132px -132px;
  -webkit-mask-repeat: no-repeat;
  height: 0;
  transform: translateZ(0);
  /* transition: -webkit-mask-position 0.5s, transform 0.5s ease-in-out; */
  padding-top: 80%;
  position: relative;
}

.comunity-body .swiper-slide img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

.comunity-body .slider-text {
  position: absolute;
  bottom: -4.5rem;
  /* Start with text hidden below the image */
  left: 0;
  width: 100%;
  height: 8rem;
  background: rgba(19, 191, 235, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  transition: bottom 0.5s ease-in-out;
}

.comunity-body .swiper-slide:hover .slider-text {
  bottom: 0;
  /* Bring text up when hovering */
}

/* ----------------------------- last-section ----------------------------- */
#policy {
  padding: 20px 0;
}

#policy .custom-card {
  /* background: var(--primary-color) linear-gradient(180deg, var(--primary-color) 0%, var(--primary-hover) 100%); */
  background-color: var(--primary-hover);
  text-align: start;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
}

#policy a {
  text-decoration: none;
  color: #000;
}

#lpolicy a:hover {
  text-decoration: underline;
}

/* -------------------------------------------------- Index Page end -------------------------------------------------- */

/* -------------------------------------------------- Footer start -------------------------------------------------- */
.fs-7 {
  font-size: 12.5px;
  line-height: 1.7;
}

.link-custom {
  color: var(--primary-color);
}

footer .link-dark {
  font-weight: 500;
}

footer .link-dark:hover {
  color: var(--primary-color) !important;
}
footer .logo{
  width: 10rem;
}
/* -------------------------------------------------- Footer end -------------------------------------------------- */

/* -------------------------------------------------- About us Page start --------------------------------------------------- */

.aboutus{
  margin-top: 100px;
}
.aboutus p{
    font-size: 17px;
    line-height: 24px;
  }
  .banner{
    width: 100%;
    height: 100%;
  }
  .banner .banner-img img{
    display: block;
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 14 / 5;
  }
  .top-title{
    color: black;
    font-size: 2.5rem;
  }
  .mission, .dosage-form{
    background-color: var(--primary-color);
  }
  .mission .mission-details .details .icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--primary-color);
    transition: all 1s linear;
  }
  .mission .mission-details .details:hover .icon{
    background-color: var(--primary-hover);
    color: white;
  }
/* -------------------------------------------------- About us Page end --------------------------------------------------- */

/* -------------------------------------------------- Product Page start -------------------------------------------------- */
.product-us {
  margin-top: 100px;
}
.product-us .pro-img img{
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 14 / 12;
}
.product-us .active {
  background-color: var(--primary-hover);
  border-radius: 8px;
}
.product-us  .pro-img img{
  border-radius: 15px;
}
.dosage-form {
  background-color: var(--primary-color);
}

.dosage-form .dosage .img {
  width: 80px;
  height: 80px;
  /* border-radius: 100%; */
}

.dosage-form .dosage .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-products .products {
  height: 100%;
  margin-bottom: 20%;
}

.our-products .products .product-categories {
  border: 1px solid var(--primary-color);
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  height: 38rem;
  overflow: hidden;
}

.our-products .products .product-categories p {
  font-size: 15px;
  text-align: left;
}

.products .swiper {
  width: 100%;
  height: 100%;
}

.products .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.products .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products .swiper-pagination {
  position: relative;
  margin-top: 15px;
}

.text-container {
  max-width: 500px;
  /* You can set a max width for the container */
  /* font-family: Arial, sans-serif; */
}

.more-text {
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.more-text.show {
  display: block;
  opacity: 1;
}

.view-more {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}
/* -------------------------------------------------- Product Page end --------------------------------------------------- */
/* -------------------------------------------------- Contact us page start ------------------------------------------------*/
.get-in-touch{
  margin: 8% 0;
}
.get-in-touch textarea{
  width: 100%;
}
.error{
  color: red
}
/* -------------------------------------------------- Contact us page end ------------------------------------------------*/