* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GSK", sans-serif;
}
:root {
  /* --color: #f36633; */
  --swiper-theme-color: #fff;
  --primary-color: #19a0e1;
  --primary-hover: rgb(40, 199, 235);
}
/* ------------------------- product submenu  -------------------------- */
.navbar .nav-links a {
  margin-inline: 15px;
  color: grey;
  transition: all 2s linear;
  padding: 5px;
}
.navbar .nav-links a:hover {
  color: black;
  font-weight: 400;
  background-color: var(--primary-hover);
  /* padding: 10px; */
  border-radius: 15px;
}
.navbar .logo {
  width: 12%;
}

.product-main-menu {
  display: none;
}
.product-main-menu a {
  color: black;
  padding: 8px 0;
}
.product-main-menu .menu a:nth-child(1):hover {
  color: var(--primary-hover);
}
.product-main-menu .menu .right-arrow {
  color: var(--primary-color);
}
.product-main-menu .menu .link-hover-animation {
  background: linear-gradient(
    to right,
    var(--primary-hover) 0%,
    var(--primary-hover) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.7s ease;
}
.product-main-menu .menu .link-hover-animation:hover {
  background-position: left bottom;
}

.product-main-menu .menu .featured-section .feature-img {
  overflow: hidden;
}
.product-main-menu .menu .featured-section .feature-img img {
  transition: all 1s linear;
}
.product-main-menu .menu .featured-section .feature-img img:hover {
  transform: scale(1.1);
}
